@import '../../styles/mixin.scss';

.main_header {
    background-color: color(backgroundcolors);

    .header_section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0px;

        .title {

            p {
                display: flex;
                justify-content: center;
                align-items: center;
                color: color(White);
                font-weight: 700;
                font-family: 'Raleway', sans-serif;
                font-size: 23px;

                svg {
                    margin-right: 10px;
                    height: 25px;
                    width: 25px;
                    fill: color(Primary);
                }

            }
        }

        .lists {

            display: flex;

            li {
                padding-left: 20px;
                color: color(lighttext);
                font-size: 15px;
                list-style: none;
                font-weight: 600;
                font-family: 'Raleway', sans-serif;

                .link_block {
                    color: color(lighttext);

                    &:hover {
                        color: color(Primary)
                    }
                }

                @include tab {
                    display: none;

                    li {
                        color: white;
                        font-size: 40px;
                    }
                }


            }

        }

        .contact_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: color(Primary);
            padding: 10px 30px;
            border-radius: 6px;

            button {
                font-family: 'Raleway', sans-serif;
                font-size: 15px;
                font-weight: 600;
                color: color(White);

                .link_block {
                    color: white;
                }
            }

            @include tab {
                display: none;
            }
        }

        .memu_btn {
            .btn {
                svg {
                    height: 20px;
                    width: 20px;
                    fill: white;

                }
            }

            @include desktop {
                display: none;
            }


        }

        @include tab {
            .menuSection {
                height: 100vh;
                width: 280px;
                background-color: #494960;
                position: fixed;
                left: 0px;
                top: 0px;
                z-index: 999;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .menu_section_title {

                    .title_block{
                        position: relative;
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            height: 2px;
                            width: 100%;
                            background-color: color(text);
                            margin-top: 20px;
                        }
                        .title {
                            font-size: 25px;
                            text-align: center;
                            padding-top: 20px;
                            color: color(Primary);
    
                            
                        }
                    }
                   

                    .close_icon {
                        button {
                            display: block;
                            position: absolute;
                            top: 10px;
                            right: 10px;

                            svg {
                                height: 20px;
                                width: 20px;
                                fill: color(white);
                            }
                        }
                    }

                  


                        
                            .lists {

                                @include tab {
                                    flex-direction: column;

                                }

                                li {
                                    display: block;
                                    color: color(white);
                                    font-size: 15px;
                                    text-align: center;
                                    padding-top: 30px;

                                    &:Hover {
                                        color: color(Primary)
                                    }

                                    @include tab {
                                        display: block;
                                        color: color(white);
                                        font-size: 15px;
                                        text-align: center;
                                        padding-top: 30px;

                                    }

                                    .link_block_mob {

                                        color: color(white);

                                        &:Hover {
                                            color: color(Primary)
                                        }

                                    }
                                }

                            }
                        


                    

                }

                .contact_btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: color(Primary);
                    padding: 10px 30px;
                    border-radius: 6px;

                    button {
                        font-family: 'Raleway', sans-serif;
                        font-size: 15px;
                        font-weight: 600;
                        color: color(White);
                        width: 100%;
                        .link_block {
                            color: white;
                        }
                    }

                    @include tab {
                        display: block;
                    }
                }
            }

        }

        .menu_nav {
            display: none;

            &.menuSection {

                @include tab {
                    display: flex;
                }
            }
        }
    }

    .main_showcase {
        display: flex;
        margin: 40px 0px;

        @include tab {
            flex-wrap: wrap;
        }

        .left_section {

            width: 50%;

            @include tab {
                width: 100%;
                justify-content: center;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .main_text {
                @include tab {
                    text-align: center;

                }

                .left_title {
                    font-family: 'Raleway', sans-serif;
                    color: color(white);
                    font-size: 50px;
                    line-height: 1.3;
                    width: 72%;

                    @include tab {
                        width: 100%;
                        font-size: 25px;
                    }
                }

                .text {
                    padding-top: 30px;
                    color: #9198a1;
                    font-size: 18px;
                    line-height: 2;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 500;

                    @include mobile {
                        font-size: 15px;
                    }
                }
            }

            .left_section_btns {
                display: flex;
                margin-top: 40px;
                align-items: center;

                button {
                    background-color: color(Primary);
                    padding: 15px 40px;
                    font-size: 14px;
                    color: color(white);
                    border-radius: 5px;
                    font-family: 'Raleway', sans-serif;

                    @include mobile {
                        padding: 10px 15px;
                    }
                }

                .text {
                    @include tab {
                        flex: 2;
                        padding-left: 20px;
                    }

                    font-size: 15px;
                    color: color(Primary);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex:0.5;
                    font-family: 'Raleway',
                    sans-serif;
                    font-weight: 600;

                    svg {
                        fill: color(Primary);
                        height: 20px;
                        width: 20px;
                        margin-left: 10px;
                    }
                }

            }

            .mian_left_section_counts {

                display: flex;
                padding: 40px 0px;
                align-items: center;

                @include tab {
                    text-align: center;
                    align-items: flex-start;
                }

                .left_section_counts {

                    flex: 0.4;
                    white-space: nowrap;

                    h1 {
                        font-size: 50px;
                        color: color(Secondary);
                    }

                    p {
                        font-size: 12px;
                        color: #9198a1;
                        line-height: 1.5;
                        font-weight: 500;
                        font-family: 'Raleway', sans-serif;

                    }
                }

                .left_section_counts2 {
                    @include tab {
                        padding-left: 30px;
                    }

                    h1 {

                        font-size: 50px;
                        color: color(Secondary);


                    }

                    p {

                        font-family: 'Raleway', sans-serif;
                        line-height: 1.5;
                        font-size: 13px;
                        color: #9198a1;
                        font-weight: 500;

                        @include tab {
                            text-align: center;
                        }

                    }
                }
            }
        }

        .right_section {
            width: 50%;

            @include tab {

                width: 100%;
            }

            .engineer_img {
                height: 400px;
                position: relative;


                .img1 {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        display: block;
                        height: 100%;
                        width: 100%;
                        opacity: 0.5;
                        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 0.035593070235906854) 100%);
                    }

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;

                        @include tab {
                            height: 380px;
                            width: 100%;
                        }

                    }
                }

                .img2 {
                    position: absolute;

                    bottom: -127px;
                    left: -207px;
                    display: block;
                    border: 15px solid color(backgroundcolors);

                    &::before {
                        content: "";
                        position: absolute;
                        display: block;
                        height: 100%;
                        width: 100%;

                        opacity: 0.5;
                        z-index: 1;
                        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 0.035593070235906854) 100%);
                    }

                    img {
                        height: 210px;
                        width: 354px;
                        object-fit: cover;
                        opacity: 0.8;

                        @include tab {
                            display: none;

                        }
                    }

                }
            }

        }
    }
}