@import '../../styles/_mixin.scss';

.main_cards_container {
    // width: calc((100% / 3) - 30px);
    // margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 20px;
   

    @include tab {

        width: calc((100% / 2) - 30px);

        &:nth-child(3) {
            box-shadow: 0 2px 8px -1px color(Secondary);

            .cards_img_block {
                .img_names_block {
                    .names {
                        color: color(Secondary)
                    }
                }
            }
        }

    }

    @include mobile {
        width: 100%;
        margin: 20px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    &:nth-child(2) {
        box-shadow: 0 2px 8px -1px color(Secondary);
        .icon_sec{
           .icon_block{
            svg{
                fill: color(Secondary);
            }
           } 
        }
        .cards_img_block {
            .img_names_block {
                .names {
                    color: color(Secondary)
                }
            }
        }

        @include tab {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    
    .icon_sec {
        display: flex;
        
        .icon_block {
            display: flex;
            padding-right: 10px;
            
            svg {
                height: 20px;
                width: 20px;
                fill: color(Primary);
                transform: rotate(180deg);
            }
        }

        .text {
            font-size: 18px;
            color: color(text);
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            line-height: 1.5;

            @include mobile {
                font-size: 16px;
            }
        }
    }


    .cards_img_block {
        display: flex;
        align-items: center;
        margin-top: 30px;

        .img_block {

            img {
                height: 70px;
                width: 70px;
                object-fit: cover;
            }
        }

        .img_names_block {
            padding-left: 20px;

            .names {
                font-size: 15px;
                font-weight: 700;
                color: color(text);
                line-height: 2;
                font-family: 'Raleway', sans-serif;

            }

            .light_text {
                font-size: 13px;
                font-family: 'Raleway', sans-serif;
                color: color(lighttext);
            }
        }
    }
}