@import '../../styles/_mixin.scss';


.team_profile {
    // width: calc((100%/4) - 30px);
    // margin:  15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    // padding: 20px;
    // margin-top: 20px;
    // border-radius: 10px;
    
    background-color: white;
    padding: 10px;
    margin: 20px;
    height: 300px;
        // @include tab {
        //     width: calc((100%/2) - 30px);
        // }
    @include mobile {
        width: calc((100%) - 30px);
        margin: 20px 15px;
    }
   
    
.team_block{
    .img_block {
        display: flex;
        justify-content: center;
 
         img {
             border: 5px solid white;
             height: 100px;
             width: 100px;
             object-fit: cover;
             border-radius: 50%;
             box-shadow: 0 0 50px #ccc;
         }
     }
 
     .details_sec {
         padding-top: 30px;
         position: relative;
         text-align: center;
 
         &::after {
             content: '';
             display: block;
             height: 2px;
             width: 100%;
             position: absolute;
             background-color: #dedede;
             margin: 10px 0px;
 
         }
 
         .name {
             color: color(text);
             font-size: 15px;
             font-weight: 700;
             line-height: 1.5;
             font-family: "Raleway", sans-serif;
         }
 
         .role {
             color: color(Primary);
             font-size: 13px;
             font-weight: 500;
             font-family: "Raleway", sans-serif;
         }
     }
 
     .text_block {
         margin: 30px 0px;
         text-align: center;
 
         .txt {
             color: color(lighttext);
             font-weight: 500;
             font-size: 14px;
         }
     }
}
    


   
}