@import '../../../styles/_mixin.scss';

.main_contact_sec {
    display: flex;
    margin: 60px 0px;

    @include tab {
        flex-wrap: wrap;
    }

    @include mobile {
        flex-wrap: wrap;
    }

    .contact_sec {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 30%;

        @include tab {
            width: 100%;
        }

        @include mobile {
            width: 100%;
        }

        .left {


            .left_block {
                display: flex;
                padding-bottom: 20px;

                .icon_sec {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 50px;
                    border: 1px solid #dedede;
                    border-radius: 10px;

                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }

                .right_block {
                    padding-left: 15px;
                    padding-top: 14px;

                    .chat {

                        font-size: 16px;
                        font-weight: 700;
                        color: color(text);
                        line-height: 1.5;
                    }

                    .help {
                        font-size: 15px;
                        color: color(lighttext);
                        line-height: 1.5;
                    }

                    .mail {
                        font-size: 14px;
                        font-weight: 600;
                        color: color(text);
                        line-height: 2.5;
                    }
                }
            }
        }

        .left_bottom {
            .social_media {
                display: flex;
                align-items: center;

                .icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 50px;
                    border: 1px solid #dedede;
                    margin-right: 15px;
                    border-radius: 10px;

                    svg {
                        height: 20px;
                        width: 20px;

                    }
                }
            }
        }
    }

    .right {
        width: 70%;
        background-color: #00d1fe;
        border-radius: 30px;
        margin-left: 100px;
        padding: 30px;

        @include tab {
            width: 100%;
            margin-left: 0px;
            margin-top: 30px;
        }

        @include mobile {
            width: 100%;
            margin-left: 0px;
            margin-top: 30px;
            border-radius: 20px;
        }

        .tit_block {
            padding: 30px 0px;

            @include mobile {
                padding: 0px;
            }

            .text_bold {
                font-size: 40px;
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                color: color(text);

                @include mobile {
                    font-size: 19px;
                }

            }

            .text {
                padding-top: 20px;
                font-size: 15px;
                line-height: 1.5;
                font-weight: 600;
                color: color(text);

                @include mobile {
                    font-size: 14px;
                }
            }
        }

        .form_sec {
            .FormWrapper {
                width: 100%;
                padding-bottom: 30px;

                @include mobile {
                    width: 100%;
                    padding-bottom: 10px;
                }

                .InputField {
                    background-color: #00d1fe;
                    height: 40px;
                    border: none;
                    border-bottom: 2px solid black;

                    -webkit-transition: .3s;
                    -moz-transition: .3s;
                    transition: .3s;
                    width: 100%;

                    @include mobile {
                        height: 60px;
                    }

                    &::placeholder {
                        font-weight: 300;
                        color: black;

                        font-size: 17px;

                        @include mobile {
                            font-size: 15px;
                        }
                    }

                }

                .error_msg {
                    color: red;
                    font-size: 13px;
                    display: block;
                    transition: all 0.2s ease-in-out;
                    font-weight: 500;
                    padding-left: 6px;
                    margin-top: 5px;
                }

                textarea {
                    padding-top: 25px !important;
                    height: 130px !important;

                    &::placeholder {
                        font-weight: 300 !important;
                        color: black;
                        font-size: 17px !important;
                    }

                    @include mobile {
                        height: 100px !important;

                    }
                }

                .btns {
                    font-size: 17px;
                    padding: 15px 30px;
                    color: white;
                    background-color: color(--bs-teal);
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                    width: 100%;

                    @include mobile {
                        font-size: 15px;
                        padding: 10px 25px;
                    }
                }
            }

            .rioght_sec {

                .text {
                    font-size: 13px;
                    color: black;
                    font-weight: 700;
                }

                .main_chec_box_sec {
                    display: flex;
                    padding-top: 20px;

                    @include mobile {
                        flex-wrap: wrap;
                        width: 100%;
                    }

                    display: flex;
                    padding-top: 20px;

                    .check_box {
                        display: flex;
                        align-items: center;
                        padding: 5px 0px;

                        &:nth-child(1) {
                            padding-right: 40px;

                            @include mobile {
                                padding-right: 0px;
                            }
                        }

                        
                        .label_name {
                            font-size: 14px!important;
                            color: black!important;
                            font-weight: 600;
                        }
                    }
                  .check_block{
                    &:nth-child(1){
                        padding-right: 40px;
                    }
                    .container {
                        display: block;
                        position: relative;
                        padding-left: 35px;
                        margin-bottom: 12px;
                        cursor: pointer;
                        font-size: 15px!important;
                        color: black!important;
                        font-weight: 600!important;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                      }
                      
                      /* Hide the browser's default checkbox */
                      .container input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                      }
                      
                      /* Create a custom checkbox */
                      .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 18px;
                        width: 18px;
                        border-radius: 5px;
                        background-color: #00d1fe;
                        border: 2px solid black;
                        box-shadow: 2px 1px 0 black;
                      }
                      
                      /* On mouse-over, add a grey background color */
                    //   .container:hover input ~ .checkmark {
                    //     background-color: #ccc;
                    //   }
                      
                      /* When the checkbox is checked, add a blue background */
                      .container input:checked ~ .checkmark {
                        background-color: #00d1fe;
                      }
                      
                      /* Create the checkmark/indicator (hidden when not checked) */
                      .checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                      }
                      
                      /* Show the checkmark when checked */
                      .container input:checked ~ .checkmark:after {
                        display: block;
                      }
                      
                      /* Style the checkmark/indicator */
                      .container .checkmark:after {
                        left: 4px;
                        top: 2px;
                        width: 3px;
                        height: 7px;
                        border: solid black;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                      }
                  }
                        

                    

                }

                .btn_block {

                    padding-top: 80px;

                    button {
                        padding: 13px 13px;
                        display: flex;
                        justify-content: center;
                        background-color: color(Primary);
                        color: white;
                        font-size: 16px;
                        width: 100%;
                        font-weight: 800;
                        border-radius: 5px;
                    }
                }

            }
        }
    }
}