@import '../../../styles/_mixin.scss';


.main_about_container {

    .title {
        font-size: 15px;
        color: color(Primary);
        font-weight: 600;
    }

    .about_section {
        display: flex;
        margin: 60px 0px;
        flex-wrap: wrap;

        @include tab {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @include mobile {
            margin: 20px 0px;
        }

        .left_section {
            width: 70%;

            @include mobile {
                width: 100%;
                text-align: center;

            }

            .bold_text {
                font-size: 50px;
                font-family: 'Raleway', sans-serif;
                color: color(text);
                font-family: 700;

                @include tab {
                    font-size: 25px;
                }

                @include mobile {
                    font-size: 24px;
                    text-align: start;
                }

                span {

                    color: color(lighttext);
                }
            }

            .left_section_img_block {
                height: 400px;
                margin: 60px 0px;
                position: relative;
                @include tab {
                    height: 300px;
                }
                @include mobile {
                    margin: 20px 0px;
                }
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
                .triangle_bottomright{
                    position: absolute;
                    right: 0px;
                    bottom: 0px;
                    width: 0;
                    height: 0;
                    border-bottom: 50px solid white;
                    border-left: 100px solid transparent;
                }
            }

        }

        .right_section {
            width: 30%;
            margin-top: 50px;

            @include tab {
                margin-top: 10px;
            }

            @include mobile {
                width: 100%;
                margin-top: 25px;

            }

            .right_section_block {
                font-family: 'Raleway', sans-serif;
                color: color(text);
                font-size: 17px;
                font-weight: 500;

                @include tab {
                    font-size: 11px;
                    font-weight: 600;
                    line-height: 1.5;

                }
                @include mobile {
                    font-size: 14px;
                    line-height: 1.4;
                }
            }

            .right_section_img_block {
                height: 400px;
                margin: 65px 0px;
                padding-left: 20px;
                position: relative;
                @include small-desktop {
                    margin: 50px 0px;
                }
                @include tab {
                    height: 300px;
                }
                @include mobile {
                    padding-left: 0px;
                    height: 350px;
                    margin: 30px 0px;
                }
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
                .triangle_bottomleft{
                    position: absolute;
                    right: 0px;
                    bottom: 0px;
                    width: 0;
                    height: 0;
                    border-bottom: 50px solid white;
                    border-left: 100px solid transparent;
                }
            }

        }
    }

    .our_story {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 60px;
        @include mobile{
            padding-bottom: 20px;
        }
        .left_section {
            width: 50%;
            @include mobile {
                width: 100%;
            }
            .left_bold_txt {

                .left_txt_block {
                    font-size: 40px;
                    font-weight: 800;
                    padding-left: 60px;
                    color: color(text);
                    display: flex;
                    align-items: center;

                    font-family: "Raleway", sans-serif;
                    @include tab {
                        padding-left: 0px;
                    }
                    @include mobile {
                        font-size: 25px;
                        padding-bottom: 10px;
                        padding-left: 0px;
                    }
                    svg {
                        height: 50px;
                        width: 50px;
                        transform: rotate(50deg);
                        @include mobile {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }
        }

        .right_section {
            width: 50%;
            @include mobile {
                width: 100%;
            }
            .right_block {

                p {
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 1.5;
                    @include mobile {
                        font-size: 14px;
                        font-family: 500px;

                    }
                }
            }

            .left_text {
                font-size: 13px;
                font-weight: 400;
                padding: 30px 0px;
                color: color(text);
                line-height: 1.5;
            }

            .left_texts {
                font-size: 13px;
                font-weight: 400;
                padding-bottom: 30px;
                color: color(text);
                line-height: 1.5;
            }

            .right_img_block {
                .img_block {
                    display: flex;
                    align-items: center;

                    img {
                        height: 40px;
                        width: 40px;
                    }

                    .profile_sec {
                        padding-left: 15px;

                        .tit {
                            color: black;
                            font-size: 14px;
                            font-weight: 700;
                            
                        }

                        .role {
                            font-size: 13px;
                            color: color(lighttext);
                        }
                    }
                }

                .right_last_txt {
                    padding-top: 10px;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 1.5;
                    @include mobile {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .main_conatiner {
        padding: 60px 0px;
        @include mobile {
            padding: 10px 0px;
        }
        .bold_text {
            font-size: 40px;
            font-family: 'Raleway', sans-serif;
            color: color(text);
            font-family: 700;
            text-align: center;

            span {
                color: color(Secondary);
            }
            @include mobile {
                font-size: 18px;
                font-weight: 900;
                text-align: start;
            }

        }

        .txt {
            font-size: 13px;
            text-align: center;
            line-height: 1.5;
            padding: 20px 0px;
            @include mobile {
                font-size: 12px;
                font-weight: 500;
                text-align: start;
            }
        }

        .team_cards {
            // display: flex;
            // flex-wrap: wrap;
            // width: calc(100% + 30px);
            // margin-left: -15px;
            // margin-top: 60px;
            
            @include mobile {
                margin-top: 0px;
            }
        }
    }
}