@import '../../styles/_mixin.scss';

.Statistics_section {
    display: flex;
    align-items: center;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin: 80px 0px;
    flex-wrap: wrap;


    .Statistics_section_blocks {
        width: calc((100%/4) - 30px);
        margin: 0px 15px;
        &:nth-child(4){
            .img_block{
                position: relative;
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                    background-color:color(Primary);
                    right: 14px;
                    bottom: 17px;
                }
            }
        }
        @include tab {
            width: calc(100% / 2 - 30px);
            margin: 15px 15px;
            display: flex;
            justify-content: center;
        }

        @include mobile {
            width: calc(100% / 1 - 30px);
            margin: 15px 15px;
            display: flex;
            justify-content: center;
        }

        .Statistics_section_block_1 {
            display: flex;
            align-items: center;



            .img_block {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: hsl(225deg 100% 96.86%);
                height: 50px;
                width: 50px;


                img {
                    height: 25px;
                    width: 25px;
                }
            }

            .text_block {
                padding-left: 20px;
                line-height: 1.6;

                .text {
                    font-size: 20px;
                    font-weight: 700;
                    color: color(text);

                }

                .para {
                    font-size: 15px;
                    font-family: 'Raleway', sans-serif;
                    color: color(text);
                    font-weight: 600;
                }
            }
        }
        
    }

}


.main_about_us_section {
    display: flex;
    margin: 60px 0px;
    flex-wrap: wrap;

    .left_section {
        width: 50%;

        @include tab {
            width: 100%;
            text-align: center;
        }

        .left_img_block {
            position: relative;

            .img_block {
                height: 500px;
                position: relative;

                @include mobile {
                    height: 380px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    height: 100%;
                    width: 100%;
                    opacity: 0.2;
                    background-color: color(white);
                }

                img {
                    height: 100%;
                    width: 450px;
                    object-fit: cover;
                    border-radius: 20px;

                }
            }

            .house_design_block {
                position: absolute;
                border: 9px solid color(white);
                bottom: -75px;
                right: 59px;
                border-radius: 20px;

                @include mobile {
                    right: 32px;
                    display: none;
                }

                img {

                    height: 200px;
                    width: 200px;
                    object-fit: cover;
                    border-radius: 10px;
                }

                div {
                    position: absolute;
                    bottom: 40%;
                    left: 40%;
                    outline: 7px solid hsl(36deg 17.24% 82.94%);
                    border-radius: 50%;

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 50px;
                        width: 50px;
                        background-color: white;
                        border-radius: 50%;

                        filter: blur(1);

                        svg {
                            height: 18px;
                            width: 18px;
                            fill: color(Secondary);
                        }
                    }
                }
            }



        }

    }

    .right_section {
        width: 50%;

        @include tab {
            width: 100%;
            text-align: center;
        }

        .title_section {

            .title_block {
                font-size: 15px;
                color: color(Primary);
                font-weight: 600;
                font-family: 'Raleway', sans-serif;

                .link_block {
                    color: color(Primary);
                }

                @include tab {
                    margin-top: 80px;
                }

                @include mobile {
                    margin-top: 30px;
                }
            }
        }

        .about_us_section_text {
            margin: 30px 0px;

            h1 {
                font-size: 40px;
                color: color(text);
                font-family: 'Raleway', sans-serif;
                line-height: 1.3;
                font-weight: 700;

                @include tab {
                    margin-top: 60px;
                }

                @include mobile {
                    font-size: 20px;
                    margin-top: 30px;
                }
            }

            p {
                margin: 20px 0px;
                line-height: 2;
                font-size: 15px;
                color: color(text);
                font-family: 'Raleway', sans-serif;
                font-weight: 500;

                @include mobile {
                    line-height: 1.3;
                }
            }
        }

        .main_building_block {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .desing_block {

                display: flex;
                align-items: center;
                padding: 20px 0px;
                flex: 50%;

                @include tab {
                    width: calc(100%/2);
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                @include mobile {
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    flex: 100%;
                }

                &:nth-child(1) {
                    .image_block {
                        background-color: hsl(151.2deg 92.59% 94.71%);
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;

                        &:nth-child(1) {
                            svg {
                                fill: #85e89c;
                            }
                        }
                    }

                }

                &:nth-child(2) {
                    .image_block {
                        background-color: hsl(38.18deg 78.57% 94.51%);
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;

                        svg {
                            fill: hsl(37.31deg 96.3% 68.24%);
                        }
                    }
                }

                &:nth-child(3) {

                    .image_block {
                        background-color: #faf2fe;
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;

                        svg {
                            fill: #d485ff;
                        }
                    }
                }

                &:nth-child(4) {
                    .image_block {
                        background-color: #fef2fe;
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;

                        svg {
                            fill: #ffa7db;
                        }

                    }
                }
            }



            .image_block {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                height: 50px;
                width: 50px;

                svg {
                    height: 25px;
                    width: 25px;
                }
            }

            .para {
                p {
                    font-size: 14px;
                    padding-left: 10px;
                    font-family: 'Raleway', sans-serif;
                    color: color(text);
                    font-weight: 700;
                }
            }
        }
    }

    .btns_block {
        display: flex;
        align-items: center;
        margin: 30px 0px;

        @include tab {}

        .btn_started {
            border-radius: 5px;
            background-color: color(Primary);

            button {
                padding: 13px 25px;
                font-size: 13px;
                font-family: 'Raleway', sans-serif;
                color: color(white);

                &:hover {
                    box-shadow: 0px 15px 70px -15px color(Primary);
                }
            }
        }

        .btn_contact {
            margin-left: 20px;
            border: 1px solid color(primary);
            border-radius: 5px;

            .link_block {
                color: black;

            }

            button {
                padding: 12px 25px;
                font-size: 13px;
                font-family: 'Raleway', sans-serif;
                color: color(primary)
            }
        }
    }
}

.main_service {
    margin: 60px 0px;

    @include mobile {
        margin: 0px 0px;
    }

    h1 {
        font-size: 40px;
        text-align: center;
        color: color(text);
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        padding: 20px 0px;
        @include mobile {
            font-size: 25px;
        }
    }

    .service_section {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 40px);
        margin-left: -20px;
        justify-content: center;

    }
}

.main_Gallery_section {
    .text {
        font-size: 15px;
        font-weight: 600;
        color: color(Primary);
        text-align: center;
    }

    .gallery_title {
        text-align: center;
        color: color(text);
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        padding: 20px 0px;
        font-size: 40px;

        @include mobile {
            font-size: 25px;
        }

    }

    .gallery_lists {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;

        padding-bottom: 15px;


        white-space: nowrap;

        @include mobile {
            justify-content: flex-start;
        }

        &::-webkit-scrollbar {
            height: 2px;
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: 0;
            border-radius: 3px;
            margin: 12px 0px;
            margin-left: 8px;
            background-color: #F9F8F8;
        }

        &::-webkit-scrollbar-thumb {
            background: #DEDEDE;
            border-radius: 3px;
        }

        @include mobile {
            width: 100%;
        }






        button {

            border: 2px solid color(Primary);
            padding: 10px 20px;
            border-radius: 5px;
            color: black;
            font-size: 15px;
            text-align: center;
            font-weight: 600;
            background-color: color(Primary);
            margin-right: 20px;
            cursor: pointer;
            background-color: transparent;

            &:hover {
                background: linear-gradient(white 50%, color(Primary) 50%, color(Primary));
                background-size: 100% 200%;
                transition: background 0.6s;
                background-position: 100% 100%;
                color: white;
                box-shadow: 0px 13px 70px -13px color(Primary);
            }
        }

    }

    .gallery_section {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 30px);
        margin-left: -15px;
        padding-top: 30px;

        .gallery_block {
            width: calc((100% / 3) - 30px);
            margin: 10px;
            overflow: hidden;

            @include mobile {
                width: calc((100% / 1) - 30px);
            }

            img {
                height: 100%;
                object-fit: cover;
                border-radius: 10px;

                &:hover {
                    transition: 0.5s all ease-in-out;
                    transform: scale(1.1);
                    border-radius:10px ;
                }
            }

            .gallery_block_two {
                height: 200px;
                overflow: hidden;

                img {
                    object-fit: cover;
                    height: 100%;
                    border-radius: 10px;

                }
            }

            .gallery_block_three {
                height: 350px;
                padding-top: 20px;
                overflow: hidden;

                img {
                    height: 100%;
                    border-radius: 10px;
                }
            }

            .gallery_block_four {
                height: 350px;
                overflow: hidden;

                img {
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }

            .gallery_block_five {
                height: 200px;
                padding-top: 20px;
                overflow: hidden;

                img {
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }

            }
        }
    }
}



.card_title {
    padding: 60px 0px;

    .small_text {
        text-align: center;
        font-size: 15px;
        color: color(Primary);
        padding-bottom: 10px;
    }

    h1 {
        font-size: 40px;
        text-align: center;
        color: color(text);
        font-family: 'Raleway', sans-serif;
        font-weight: 700;

        @include mobile {
            font-size: 25px;
        }
    }
}

.main_cards {
    // display: flex;
    // flex-wrap: wrap;
    // width: calc(100% + 30px);
    // margin-left: -15px;


    @include mobile {


        text-align: center;
    }

    .main_cards_container {
        // width: calc((100% / 3) - 30px);
        // margin: 15px;
        

       

        :global(.slick-slider) {

            :global(.slick-list) {

                :global(.slick-track) {


                    :global(.slick-slide) {}
                }
            }
        }


        @include mobile {
            width: 100%;
            margin: 20px 0px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

        }

        &:nth-child(2) {
            box-shadow: 0 2px 8px -1px color(Secondary);

            .icon_sec {
                .icon_block {
                    svg {
                        fill: color(Secondary);
                    }
                }
            }

            .cards_img_block {
                .img_names_block {
                    .names {
                        color: color(Secondary)
                    }
                }
            }

            @include tab {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }

        &:nth-child(1){
            &:hover{
                .cards_block{
                    background-color: color(Primary);
                    cursor: pointer;
                    background-color: transparent;
                    background: linear-gradient(white 50%, color(Primary) 50%, color(Primary));
                    background-size: 100% 200%;
                    transition: background 0.6s;
                    background-position: 100% 100%;
                    color: white;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    border-radius: 10px;
                    padding: 20px;
                    .icon_sec {
                        display: flex;
                
                        .icon_block {
                            display: flex;
                            padding-right: 10px;
                
                            svg {
                                height: 20px;
                                width: 20px;
                                fill: white;
                                transform: rotate(180deg);
                            }
                        }
                
                        .text {
                            font-size: 16px;
                            color: white;
                            font-family: 'Raleway', sans-serif;
                            font-weight: 500;
                            line-height: 1.5;
                
                            @include mobile {
                                font-size: 14px;
                            }
                        }
                    }
                
                
                    .cards_img_block {
                        display: flex;
                        align-items: center;
                        margin-top: 30px;
                
                        .img_block {
                
                            img {
                                height: 70px;
                                width: 70px;
                                object-fit: cover;
                            }
                        }
                
                        .img_names_block {
                            padding-left: 20px;
                
                            .names {
                                font-size: 15px;
                                font-weight: 700;
                                color: white;
                                line-height: 2;
                                font-family: 'Raleway', sans-serif;
                
                            }
                
                            .light_text {
                                font-size: 13px;
                                font-family: 'Raleway', sans-serif;
                                color: rgb(219, 216, 216);
                            }
                        }
                    }
                }
            }
        }
        
.cards_block{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 20px;
    .icon_sec {
        display: flex;

        .icon_block {
            display: flex;
            padding-right: 10px;

            svg {
                height: 20px;
                width: 20px;
                fill: color(Primary);
                transform: rotate(180deg);
            }
        }

        .text {
            font-size: 16px;
            color: color(text);
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            line-height: 1.5;

            @include mobile {
                font-size: 14px;
            }
        }
    }


    .cards_img_block {
        display: flex;
        align-items: center;
        margin-top: 30px;

        .img_block {

            img {
                height: 70px;
                width: 70px;
                object-fit: cover;
            }
        }

        .img_names_block {
            padding-left: 20px;

            .names {
                font-size: 15px;
                font-weight: 700;
                color: color(text);
                line-height: 2;
                font-family: 'Raleway', sans-serif;

            }

            .light_text {
                font-size: 13px;
                font-family: 'Raleway', sans-serif;
                color: color(lighttext);
            }
        }
    }
}
       
    }
}


.brands {
    text-align: center;
    padding: 80px 0px 30px 0px;

    .Trusted_title {

        color: color(text);
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        text-align: center;
        overflow: auto;
        font-size: 40px;
        @include mobile {
            font-size: 25px;
        }
        &::-webkit-scrollbar {
            height: 2px;
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: 0;
            border-radius: 3px;
            margin: 12px 0px;
            margin-left: 8px;
            background-color: #F9F8F8;
        }

        &::-webkit-scrollbar-thumb {
            background: #DEDEDE;
            border-radius: 3px;
        }

    }

    .Trusted_section {

        // width: calc(100% + 30px);
        // margin-left: -15px;
        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;

        .Brand_names {
            // width: calc((100%/5) - 30px);
            // margin: 0px 15px;

            // @include mobile {
            //     width: calc((100%/1) - 30px);
            // }
               padding-top: 30px; 
            .adobe_blobk {
                height: 70px;
                padding-right: 20px;
                img {

                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
            }

            .shutter_block {
                height: 70px;
                padding-right: 20px;
                img {
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
            }

            .delta_block {
                height: 70px;
                padding-right: 20px;
                img {
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
            }

            .kayak_block {
                height: 70px;
                padding-right: 20px;
                img {
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
            }
            .lowes_block {
                height: 70px;
                
                img {
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}