@import '../../styles/_mixin.scss';

.footer {
    background-color: color(backgroundcolors);

    padding: 80px 0px 0px 0px;


    .footer_sec {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        @include desktop_small {
            flex-wrap: wrap;
        }
        @include tab {
            flex-wrap: wrap;
        }
        @include mobile {
            flex-wrap: wrap;
        }
        .footer_section1 {
            width: 30%;
            @include desktop_small {
                width: 100%;
            }
            @include tab {
                width: calc(100%);
                
            

            }

            @include mobile {
                width: 100%;
                display: flex;
                justify-content: flex-start;

                flex-direction: column;
                text-align: start;
            }

            .icon {
                display: flex;
                align-items: center;
                color: color(White);

                font-weight: 700;
                font-family: 'Raleway', sans-serif;
                font-size: 23px;

                @include tab {
                    text-align: center;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                }

                @include mobile {
                    text-align: start;
                    display: flex;
                    align-items: start;
                    justify-content: flex-start;
                }

                svg {
                    margin-right: 10px;
                    height: 25px;
                    width: 25px;
                    fill: color(Primary);
                }

            }

            div {
                padding-top: 20px;

                .address {

                    font-size: 15px;
                    color: color(lighttext);
                    font-weight: 600;
                    line-height: 1;

                }

                .email {
                    font-size: 15px;
                    color: color(lighttext);
                    font-weight: 600;
                    line-height: 3;
                    font-family: 'Raleway', sans-serif;
                }

                .ph_num {
                    font-size: 15px;
                    color: color(lighttext);
                    font-weight: 600;
                    line-height: 2;


                }
            }

        }
        .footer_right{
            width: 70%;
            @include desktop_small {
                width: 100%;
            }
            @include tab {
                width: 100%;
            }
            @include mobile {
                width: 100%;
            }
            .main_footer_container {
                display: flex;
                
                width: calc(100% + 30px);
                margin-left: -15px;
                @include desktop_small {
                    flex-wrap: wrap;
                }
                @include tab{
                    flex-wrap: wrap;
                }
                @include mobile {
                    flex-wrap: wrap;
                }
                .footer_section {
                    width: calc(100% / 3 - 30px);
                    margin: 0px 15px;
                    @include  desktop_small{
                        width: calc(100% / 2 - 30px);
                        padding-top: 20px;
                    }
                    @include tab {
                        width: calc(100% / 2 - 30px);
                        padding-top: 20px;
                    }
    
                    @include mobile {
                        width: calc(100% - 30px);
                        padding-top: 20px;
                    }
    
    
                    .title {
                        color: color(white);
                        font-size: 17px;
                        font-weight: 700;
                        font-family: 'Raleway', sans-serif;
    
    
                        @include mobile {
                            font-size: 15px;
                        }
                    }
    
                    .lists {
                        padding-top: 20px;
                        @include mobile {
                            padding-top: 0px;
                        }
                        li {
                            padding-top: 15px;
                            font-size: 15px;
                            list-style: none;
                            font-weight: 600;
                            font-family: 'Raleway', sans-serif;
                            color: color(lighttext);
    
                            &:hover {
                                color: color(Primary)
                            }
    
                            @include mobile {
                                font-size: 13px;
                                font-weight: 700;
                            }
    
                            .link_block {
                                color: color(lighttext);
    
                                &:hover {
                                    color: color(Primary)
                                }
                            }
                        }
    
                    }
    
    
                    .title {
                        color: color(white);
                        font-size: 17px;
                        font-weight: 700;
                        font-family: 'Raleway', sans-serif;
                        white-space: nowrap;
    
                        @include mobile {
                            font-size: 15px;
                            width: 100%;
                            font-weight: 600;
                            line-height: 1.5;
                        }
    
                    }
    
    
    
                  
    
                       
    
                        .email_address {
                            
                            
                            padding-top: 35px;
                        
                            @include mobile {
                                padding-top: 15px;
                                width: 100% ;
                            }
                            .input_block{
                                
                                position: relative;
                                input {
                                    border: 1px solid white;
                                    outline: none;
                                    background-color: color(backgroundcolors);
                                    padding: 15px 20px;
                                    height: 40px;
                                    color: white;
                                    width:100%;
                                    
        
                                    &::placeholder {
                                        font-size: 15px;
                                    }
                                    @include mobile {
                                        width: 100%;
                                    }
                                }
                                .btn_block {
                                    position: absolute;
                                    right: 8px;
                                    bottom: 8px;
                                    
                                      
    
                                    button {
            
                                        padding: 5px 20px;
                                        font-size: 15px;
                                        color: white;
                                        background-color: color(Primary);
                                        border-radius: 5px;
            
                                    }      
                                        
                                }
                            }
                           
                            
                        }
                      
                    
    
                    .social_media_icons {
                        display: flex;
                        padding-top: 50px;
                        @include mobile {
                            padding-top: 20px;
                        }
    
                        li {
                            list-style: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
    
                            svg {
                                height: 20px;
                                width: 20px;
                                fill: color(white);
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.main_bottom_section {

    border-top: 1px solid color(lighttext);
    padding: 40px 0px;

    .bottom_section {

        p {
            font-size: 15px;
            text-align: center;
            color: color(lighttext);

        }
    }
}