@import '../../styles/_mixin.scss';

.main_services_section {
    width: calc((100% / 3) - 40px);
    margin: 20px;

    @include tab {
        width: calc((100%/2) - 40px);
    }

    @include mobile {
        width: calc((100%/1) - 40px);
    }
    &:nth-child(1){
        &:hover{
            .service_section_img_block {
                .img_block {
                    overflow: hidden;
        
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 10px;
        
                        
                            transition: 0.5s all ease-in-out;
                            transform: scale(1.1);
        
                        
                    }
                }
        
        
            }
        
            .service_section_title {
                margin-top: 20px;
        
                h2 {
                    font-size: 22px;
                    color: color(Primary);
                }
            }
        
            .service_section_description {
                margin-top: 10px;
        
                p {
                    font-size: 16px;
                    line-height: 1.3;
                    color: color(text);
                    font-weight: 500;
                }
            }
        
            .service_section_btn {
                margin: 30px 0px;
        
                button {
        
                    border: 2px solid color(Primary);
                    padding: 10px 20px;
                    border-radius: 5px;
                    
                    color: black;
                    font-size: 15px;
                    text-align: center;
                    font-weight: 600;
                    background-color: color(Primary);
                    cursor: pointer;
                    background-color: transparent;
                    background: linear-gradient(white 50%, color(Primary) 50%, color(Primary));
                    background-size: 100% 200%;
                    transition: background 1s;
                    background-position: 100% 100%;
                    color: white;
                    
                }
            }
        }
    }
    &:nth-child(2){
        &:hover{
            .service_section_img_block {
                .img_block {
                    overflow: hidden;
        
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 10px;
        
                        
                            transition: 0.5s all ease-in-out;
                            transform: scale(1.1);
        
                        
                    }
                }
        
        
            }
        
            .service_section_title {
                margin-top: 20px;
        
                h2 {
                    font-size: 22px;
                    color: color(Primary);
                }
            }
        
            .service_section_description {
                margin-top: 10px;
        
                p {
                    font-size: 16px;
                    line-height: 1.3;
                    color: color(text);
                    font-weight: 500;
                }
            }
        
            .service_section_btn {
                margin: 30px 0px;
        
                button {
        
                    border: 2px solid color(Primary);
                    padding: 10px 20px;
                    border-radius: 5px;
                    
                    color: black;
                    font-size: 15px;
                    text-align: center;
                    font-weight: 600;
                    background-color: color(Primary);
                    cursor: pointer;
                    background-color: transparent;
                    
                        background: linear-gradient(white 50%, color(Primary) 50%, color(Primary));
                        background-size: 100% 200%;
                        transition: background 1s;
                        background-position: 100% 100%;
                        color: white;
                    
                }
            }
        }
    }
    &:nth-child(3){
        &:hover{
            .service_section_img_block {
                .img_block {
                    overflow: hidden;
        
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 10px;
        
                        
                            transition: 0.5s all ease-in-out;
                            transform: scale(1.1);
        
                        
                    }
                }
        
        
            }
        
            .service_section_title {
                margin-top: 20px;
        
                h2 {
                    font-size: 22px;
                    color: color(Primary);
                }
            }
        
            .service_section_description {
                margin-top: 10px;
        
                p {
                    font-size: 16px;
                    line-height: 1.3;
                    color: color(text);
                    font-weight: 500;
                }
            }
        
            .service_section_btn {
                margin: 30px 0px;
        
                button {
        
                    border: 2px solid color(Primary);
                    padding: 10px 20px;
                    border-radius: 5px;
                    
                    color: black;
                    font-size: 15px;
                    text-align: center;
                    font-weight: 600;
                    background-color: color(Primary);
                    cursor: pointer;
                    background-color: transparent;
                    
                        background: linear-gradient(white 50%, color(Primary) 50%, color(Primary));
                        background-size: 100% 200%;
                        transition: background 1s;
                        background-position: 100% 100%;
                        color: white;
                    
                }
            }
        }
    }
    

    .service_section_img_block {
        .img_block {
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;

                
            }
        }


    }

    .service_section_title {
        margin-top: 20px;

        h2 {
            font-size: 22px;
            color: color(text);
        }
    }

    .service_section_description {
        margin-top: 10px;

        p {
            font-size: 16px;
            line-height: 1.3;
            color: color(text);
            font-weight: 500;
        }
    }

    .service_section_btn {
        margin: 30px 0px;

        button {

            border: 2px solid color(Primary);
            padding: 10px 20px;
            border-radius: 5px;
            
            color: black;
            font-size: 15px;
            text-align: center;
            font-weight: 600;
            background-color: color(Primary);
            cursor: pointer;
            background-color: transparent;
            // &:hover{
            //     background: linear-gradient(white 50%, color(Primary) 50%, color(Primary));
            //     background-size: 100% 200%;
            //     transition: background 1s;
            //     background-position: 100% 100%;
            //     color: white;
            // }
        }
    }
}