@import './mixin';

html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden !important;
        scroll-behavior: smooth;
        letter-spacing: .24px;
        font-family: 'Be Vietnam Pro', sans-serif;
        background-color: #fff;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0;
        }

        p,
        a,
        ul li {
            margin-bottom: 0;
        }

        input,
        button,
        textarea,
        label {
            margin-bottom: 0;
            font-family: 'Be Vietnam Pro', sans-serif;
        }

        label {
            display: block;
        }

        a {
            text-decoration: none !important;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        img {
            width: 100%;
            max-width: 100%;
        }

        button:active,
        button:focus,
        input:active,
        input:focus,
        input:focus-visible {
            box-shadow: none;
            outline: 0;
        }

        .form_control {
            display: block;
            width: 100%;
        }

        button:focus {
            outline: 0;
        }

        textarea {
            resize: none;
        }

        button {
            cursor: pointer;
            display: inline-block;
            border: none;
            padding: 0px;
            background: transparent;
            font-family: 'Be Vietnam Pro', sans-serif;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            appearance: none;
            margin: 0;
        }

        
    }
}

.contain {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;


}

.text {
    font-size: 16px;
    line-height: 1.625;
    color: color(light_gray);
}

.title {
    line-height: 46px;
    font-weight: 800;
    color: color(dark_eclipse);
    font-size: 32px;
}